
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     

}

.container{
    position: fixed;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


body{
    background-color: rgb(28, 188, 209);
    display:flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    position: fixed;
    top: 25%;
    left: 10%;
    right: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(78, 106, 184, 0.8);
    text-align: center;
    font-size: 30px;
    grid-gap: 40px;
    padding: 40px;
}

.grid-item{
    background-color: rgba(1, 83, 190, 0.8);
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 50px;
    font-family: monospace;
    color: rgb(7, 201, 201);
    text-decoration: none;
}

h1{
    font-size: 100px;
    font-family: monospace;
    color: rgb(0, 102, 255);
}